<p>Here is the list of sales person! </p>
<table class="table table-striped table-dark table-bordered table-hover"> 
    <thead>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Sales Volume</th>
    <th> Met quota? </th>
    </tr> 
    </thead>
    <tbody>
    <tr *ngFor="let tempSalesPerson of salesPersonList">
    <td>{{ tempSalesPerson.firstName }}</td>
    <td>{{ tempSalesPerson.lastName }}</td>
    <td>{{ tempSalesPerson.email }}</td>
    <td>{{ tempSalesPerson.salesVolume | currency:'USD':'symbol':'5.0' }}</td>
    <td *ngIf="tempSalesPerson.salesVolume > 50000; else elseBlock"> Yes </td>
    <!-- <div *ngIf="condition; else elseBlock">Content to render when condition is true.</div> -->
    <ng-template #elseBlock><td>No </td></ng-template>
    </tr>
    </tbody> 
   </table>